
*{
  font-weight:bold;
}

body{
  background: url(Logan.png);
  background-size:cover;
  background-position:center;
  font-family: sans-serif;
  color:red;
  text-align: center;
  text-shadow: 1px 1px black;
}
sup{
  font-size: 6px; 
}
footer{
  font-family: sans-serif;
  font-size: 4px;
}
h1{
  text-decoration: underline;

}
h3{
  text-decoration: underline;
  font-style: italic;
}
.picture{
  position: fixed;
  margin-left: 1320px;
}

.title{
  width: 500px;
  height: auto;
  padding-bottom:30px;
  background-color: rgba(1,0,0, 0.5);
  border-radius: 10px;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  color: white;
  box-sizing: border-box;
}

.profile{
  width:200px;
  height:200px;
  border-radius: 90%;
}
.contact1{
  text-align: center;
  padding-top: 20px;
}
.contact{
  display: inline-block;
  text-decoration: none;
  background-color: tansparent;
  color: white;
  font-size: 20px;
   }
